/* Header Styles */
.header {
  background-color: #847774; /* Couleur de fond */
  /* Couleur de fond */
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixe le header en bas */
  left: 0;
  bottom: 0;
  width: 100%; /* Occupe toute la largeur de l'écran */
  z-index: 1000;
  box-sizing: border-box; /* Assure que padding ne fait pas déborder le contenu */
  overflow: hidden; /* Empêche le texte de dépasser */ /* Assure que le header est au-dessus des autres éléments */
}

/* Navigation List */
.navList {
  list-style: none;
  padding: 0;
  margin: 0;

  flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur de petits écrans */
}

/* Navigation List Items */
.navList li {
  margin: 0 10px; /* Espacement entre les éléments */
}

/* Links */
.link {
  color: white; /* Même couleur que les liens de la nav bar */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgba(0, 0, 0, 1);
}

/* Réduction de la taille des liens et réajustement du padding sur mobile */
@media (max-width: 768px) {
  .header {
    padding: 10px; /* Réduit le padding pour les petits écrans */
  }

  .link {
    font-size: 16px; /* Réduit la taille des liens */
    text-align: center; /* Centre le texte pour une meilleure présentation sur mobile */
  }

  .navList {
    flex-direction: column; /* Les liens s'affichent maintenant en colonne */
    align-items: center; /* Centrer les liens verticalement */
  }

  .navList li {
    margin: 5px 0; /* Espacement vertical entre les éléments */
  }
}

/* Réduction supplémentaire pour les très petits écrans */
@media (max-width: 480px) {
  .link {
    font-size: 14px; /* Réduction supplémentaire pour les téléphones */
  }

  .header {
    padding: 10px; /* Réduit encore le padding pour les très petits écrans */
  }
}
