/* Header Styles */
.header {
  background-color: #847774; /* Couleur de fond */
  padding: 15px 20px; /* Espacement */
  /* Répartit les liens sur toute la largeur */
  align-items: center; /* Centre verticalement */
  width: 100%;
  box-sizing: border-box; /* Garde la largeur fixe */
}

/* Navigation List */
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Espacement entre les liens */
  align-items: center;
  flex-wrap: wrap; /* Permet aux liens de passer sur une nouvelle ligne si nécessaire */
}

/* Navigation List Items */
.navList li {
  margin: 0 10px; /* Espacement entre les éléments */
}

/* Links */
.link {
  color: white; /* Même couleur que les liens de la nav bar */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgba(0, 0, 0, 1);
}

/* Responsiveness: Small Screens */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Passer en colonne sur petit écran */
    gap: 10px; /* Espacement entre les liens */
    padding: 10px;
  }
  .navList li {
    margin: 5px 0; /* Réduit les marges */
  }

  .link {
    font-size: 16px; /* Réduit la taille des liens */
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px; /* Réduit le padding pour les petits écrans */
  }

  .link {
    font-size: 14px; /* Réduction supplémentaire pour les téléphones */
  }
}
