/* Header.module.css */
/* Header.module.css (ou dans n'importe quel autre fichier CSS chargé globalement) */

.container {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

.header {
  background-color: #6c635e; /* Marron chaud */
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-height: fit-content;
  margin-top: 20px;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .navContainer {
    flex-direction: column;
  }
}

.navList {
  display: flex;
  flex-direction: column; /* Liens empilés en colonne */
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

@media (min-width: 768px) {
  .navList {
    flex-direction: row;
    gap: 2rem;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

@media (min-width: 768px) {
  .link {
    font-size: 1.1rem;
  }
}

.link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #facc15; /* Jaune clair */
  transition: width 0.3s ease;
}

.link:hover {
  color: #facc15; /* Hover jaune */
}

.link:hover::after {
  width: 100%;
}

.footerText {
  font-size: 0.75rem;
  color: #e2e8f0; /* Gris clair */
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footerText {
    margin-top: 0;
  }
}
